# Core
streamlit==1.22.0
firebase-admin==6.1.0
python-dotenv==1.0.0

# UI Enhancements
streamlit-option-menu==0.3.2
Pillow==10.0.0

# Optional AI
transformers==4.30.0
torch==2.0.0

# Localization
pyyaml==6.0